*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-size:16px;
}
:root{
    --white:hsl(0, 0%, 100%);
    --light-pink:hsl(275, 100%, 97%);
    --grayish-purple:hsl(292, 16%, 49%);
    --dark-purple:hsl(292, 42%, 14%);
    --light-purple:hsla(270, 40%, 30%, 0.2);
    --faint-grayish-purple: hsl(274, 8%, 30%);
}
body{
    background-color: var(--light-pink);
    width:100%;
    font-family: "Work Sans", sans-serif;
}
.container{
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Styling the svg image for the showcase */
.pattern-image{
    display:block;
    height:300px;
    width:100%;
    object-fit: cover;
}
/* Styling the accordion card container */
.accordion-container{
    width:40%;
    padding: 30px;
    background-color: var(--white);
    position: relative;
    top: -120px;
    left: 0;
    right: 0;
    border-radius: 10px;
    box-shadow: 4px 8px 40px 1px var(--light-purple);
}

/* Accordion Header */
.accordion-container-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin: 0 0 10px 0;
}
.accordion-container-header h1{
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--dark-purple);
}
.accordion-star-image-header{
    width: 2.0rem;
    height: 2.0rem;
}
/* Accordion Box */
.accordion-box{
    display: flex;
    flex-direction: column;
    min-width: 100%;
}
.accordion-box-item{
    padding: 1rem 0;
    border-bottom: 2px solid var(--light-pink);
    box-shadow: 0 1px 0.5px var(--light-pink)
}
.accordion-box-item:last-child{
    border-bottom: none;
}
.accordion-box-item-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.accordion-box-item-header .accordion-icon{
    width: 1.5rem;
    height: 1.5rem;
}
.accordion-panel{
    max-height: 0;
    overflow: hidden;
    color: var(--grayish-purple);
    transition: max-height 0.3s ease;
}
.accordion-panel-text{
    padding: 0.5rem 0;
    font-size: 0.8rem;
    line-height: 1.0rem;
    font-weight: 400;
    text-align: left;
    width: 90%;
}
blockquote,ul{
    padding: 0.5rem 0;
    font-size: 0.8rem;
    
    color: var(--faint-grayish-purple);
    font-weight: 400;
    list-style-type: none;
    
}
ul li{
    padding: 0.5rem 0;
}
.accordion-panel-text a{
    color: inherit;
    font-weight: 700;
}
.accordion-panel-test a:active{
    color: inherit;
}
.accordion-panel.open {
    max-height: 500px; /* enough height to show content */
}

/* attribution text set absolute to the body */
.attribution {
    color: var(--grayish-purple);
    font-size: 0.5rem;
    text-align: center;
    position: relative;
    bottom: 10px;
    left: 0;
    right:0;
 }
.attribution a { 
    color: var(--dark-purple); 
    font-weight: 700;
}

@media (max-width: 600px) {
    .pattern-image{
        object-fit: cover;
        height: auto;
    }
    .accordion-container{
        width: 85%;
        top: -105px;
    }
    .attribution {
        position: relative;
        bottom: -50px;
        left: 0;
        right:0;
     }

}